<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HızlıTrenApp.DATA.Properties.Settings.HizliTrenDbConnectionString"
            connectionString="Data Source=.;Initial Catalog=HizliTrenDb;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>